.companySupport-container
{
    
}

.companySupport-container .text-content h6{
    color: black;
    font-weight: 600;
    margin: 0;
}

.companySupport-container .blue-btn
{
    padding: 9px 30px;
}