.aboutIdeas-container
{
    background: radial-gradient(circle, rgba(243,248,251,1) 22%, rgba(255,255,255,1) 100%, rgba(230,236,241,1) 100%, rgba(251,251,251,1) 100%, rgba(241,241,241,1) 100%);
    background-position: left;
    background-repeat: no-repeat;

}

.aboutIdeas-container .text-main-heading
{
    font-weight: 600;
}

.aboutIdeas-container .text-sub-heading
{
    font-size: 1rem;
    font-weight: 700;
    color: #283285;
}