.common_hero_section {
  color: black;
  position: relative;
  background: linear-gradient( #022a44f8, #022a4471,#022a44eb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 33em;
}

.bg-video
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.536);
}

.bg-video video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.common_hero_section .hero_content_wrapper {
  display: flex;
  padding-left: 0%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 85%;
}

.common_hero_section .hero_content_wrapper .hero-section-heading,
.common_hero_section .hero_content_wrapper .body-paragraph {
  text-align: start;
}

.common_hero_section .hero_content_wrapper .hero-btn
{
  transition: .3s;
}
.common_hero_section .heading-color-change
{
  color: #283285;

}
.common_hero_section .service-form
{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 90%;
  background-color: #90909079;
  color: white;
  border-radius: 10px;
  border: 2px solid #2831853c;
}
.common_hero_section .service-form .body-paragraph,
.common_hero_section .service-form .body-heading
{
  cursor: pointer;
  color: white;
}
.common_hero_section .service-form .service-from-btn
{
  width: fit-content;
  margin-top: 25px;
}
.common_hero_section .service-form input
{
  border: none;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 20px;
  padding-bottom: 10px;
}
.common_hero_section .service-form input::placeholder
{
  color: rgba(225, 225, 225, 0.971);

}
.common_hero_section .service-form input:focus
{
  outline: none;
}

.common_hero_section .hero-text-content .body-paragraph 
{
  width: 75%;
}


@media(max-width : 660px)
{
  .common_hero_section .hero-text-content .body-paragraph 
  {
    width : 100%;
  }
  .common_hero_section .hero-text-content 
  {
    padding-left: 6%;
  }
}