.common_hero_section {
  color: black;
  position: relative;
  background: linear-gradient( #022a44f8, #022a4471,#022a44eb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 38em;
}

.common_hero_section .hero_content_wrapper {
  display: flex;
  padding-left: 20%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 65%;
}

.common_hero_section .hero_content_wrapper .hero-section-heading,
.common_hero_section .hero_content_wrapper .body-paragraph {
  text-align: start;
}

.common_hero_section .hero_content_wrapper .hero-btn
{
  background-color: #283285;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 7px 30px;
  padding-bottom: 9px;
  transition: .3s;
}
.common_hero_section .heading-color-change
{
  color: #283285;

}
.common_hero_section .service-form
{
  background-color: white;
  border-radius: 10px;
}
.common_hero_section .service-form .service-from-btn
{
  background-color: #1998d8;
  color: white;
  font-weight: 600;
  width: fit-content;
  padding: 5px 25px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}
.common_hero_section .service-form input
{
  border: none;
  border-bottom: 1px solid black;
  margin-top: 20px;

}
.common_hero_section .service-form input:focus
{
  outline: none;
}


@media(max-width : 660px)
{
  .common_hero_section .hero_content_wrapper .hero-section-heading
  {
    /* max-width: 90%; */
  }
}