.account-tab-container
{

}

.account-tab-container .left-tab-content 
{
    cursor: pointer;
}

.account-tab-container .line-seprator{
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.349);
    
  }