.about-history-container 
{
    min-height: 35em;
}

.about-history-container .text-content .body-heading
{
    width: 80%;
    margin: auto;
}

.about-history-container .history-list
{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    position: relative;
}


.about-history-container .line-seprator
{
    width:80%;
    position: absolute;
    top: 83%;
    border: 2px solid #C7C7C7;
    z-index: -1;
}

.about-history-container .year-details
{
    width: 150px;
    flex-direction: column;
}

.about-history-container .year-box
{
    padding: 30px 15px;
    border-radius: 10px;
    background-color: #F1F1F1;
    cursor: pointer;
}
.about-history-container .active
{
    color: white;
    background-color:#283285;
    position: relative;
}


.about-history-container .year-box-triangle-img
{
    width: 60px;
    height:30px;
}

.about-history-container .year-box h4
{
    font-weight: 600;
    font-size: 1.3rem;
}
.about-history-container .text-box
{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.261);
    width: 15rem;
    padding: 20px 10px;
    border-radius: 15px;
    color: #B9B9B9;
}

.about-history-container .visible
{
    visibility: visible;
}

.about-history-container .hide
{
    visibility: hidden;
}

.about-history-container .mobile-history
{
    display: none;
}
.about-history-container .desk-history
{
    display: flex;
}

@media(max-width:850px)
{
    .about-history-container .mobile-history
    {
        display: flex;
    }
    .about-history-container .desk-history
    {
        display: none;
    }

    .about-history-container .history-list
    {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .about-history-container .text-box
    {
        width: 250px;
    }

    .about-history-container .d-none
    {
        visibility: hidden;
    }

    .about-history-container .year-details{
        width: 70%;
        flex-direction: row-reverse;
        height: 100px;
    }
    .about-history-container .line-seprator
    {
        display: none;
    }
    .about-history-container .year-box-triangle-img
    {
        width: 20px;
    }
}

@media(max-width : 500px) {
    .about-history-container .year-details{
        /* margin-left: 10%; */
    }
    .about-history-container .year-box-triangle-img
    {
        left: -10px;
    }
}