.header_lotus {
    background: transparent;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_lotus .header-wrapper {
    width: 93.5%;
}

.header_lotus .header-wrapper .navbar .navbar-container {
    width: 100%;
}
.header_lotus .header-wrapper .navbar .navbar-container .nav-logo{
    max-width:100px;
}

.header_lotus .main-nav {
    list-style-type: none;
    margin: 0;
}

.header_lotus .nav-links,
.logo {
    text-decoration: none;
    color:  #ffffff;
    font-size: .9rem;
}

.header_lotus .nav-links:active,
.logo:active {
    color: #ffffff;
    font-weight: 500;
}

.header_lotus .nav-links:focus,
.logo:focus {
    color: #ffffff;
    font-weight: 500;
}

.header_lotus .main-nav li {
    text-align: center;
    color: #283285;
}
.header_lotus .nav-list .nav-links
{
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    color: #5E5E5E;
    transition: .3s;
}
.header_lotus .nav-list .nav-links:hover
{
    color: #283285;
}

.header_lotus .extras-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.header_lotus .responsive-popup-menu
{
    z-index: 1;
    position: absolute;
    top: 80px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.header_lotus .responsive-menu-btn img
{
    width: 25px;
    height: 25px;
}



.header_lotus .extras-btns .blue-btn
{
    background-color: #283285;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    font-size: .9rem;
    transition: .3s;
}
.header_lotus .extras-btns .blue-btn:hover{
    background-color: #20276a;
    cursor: pointer;
}
.header_lotus .extras-btns .blue-btn img {
    width: 17px;
    margin-right: 3px;
}

.header_lotus .resp-nav-list .nav-links 
{
    color: black;
}

.header_lotus .resp-nav-list li{
    list-style: none;
}
.header_lotus .resp-nav-list
{
    width: 100%;
}

@media(max-width : 1200px)
{
    .header_lotus .nav-list .nav-links
    {
        font-size: .7rem;
        margin-right: 5px;
        margin-left: 5px;
        font-weight: 500;
    }
}